<mat-form-field class="w-full">
  <mat-label>Filter</mat-label>
  <input matInput (input)="onQueryChange($event)" placeholder="Type something here" [(ngModel)]="query" />
  <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="onQueryRemove()" matTooltip="Clear">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="flex items-end justify-end gap-2">
  <a mat-button [routerLink]="[]" [queryParams]="{}">Clear</a>

  <a mat-button [routerLink]="['/create' | localize]">Create</a>
</div>

<table
  mat-table
  [fixedLayout]="true"
  [dataSource]="data"
  matSort
  matSortActive="id"
  matSortDirection="asc"
  matSortDisableClear
  (matSortChange)="onSortChange($event)"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ID</th>
    <td mat-cell *matCellDef="let row">
      {{ '#' + row.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>User</th>
    <td mat-cell *matCellDef="let row">{{ '#' + row.userId }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Title</th>
    <td mat-cell *matCellDef="let row" class="font-bold">{{ row.title }}</td>
  </ng-container>

  <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Body</th>
    <td mat-cell *matCellDef="let row">{{ row.body }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/' | localize, row.id]">
          <mat-icon>info</mat-icon>
          <span>Detail</span>
        </a>
        <a mat-menu-item [routerLink]="['/' + row.id + '/edit' | localize]">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </a>
        <button mat-menu-item (click)="onDelete(row)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [length]="totalCount"
  (page)="onPageChange($event)"
  aria-label="Select page of posts"
></mat-paginator>

<div *cdkPortal class="container py-4">
  <a mat-button color="primary" [routerLink]="['/' | localize]">Posts</a>
</div>
